body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .left-pane, .right-pane {
    flex: 1;
    padding: 10px;
  }
  
  .left-pane {
    background-color: #f0f0f0;
  }
  
  .right-pane {
    background-color: #f8f8f8;
  }
  
  .table-div {
    max-width: 300px; /* 테이블의 원하는 고정 너비를 설정하세요 */
    margin: 0 auto;
  }
  
  video {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  canvas {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  #status {
    margin-top: 20px;
  }
  
  h1 {
    text-align: center;
  }